---
const { icon, label, link } = Astro.props;
---

<a
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center justify-center px-5 py-2.5 bg-gray-700 hover:bg-gray-900 text-white rounded-full transition-colors text-sm font-medium"
>
  <i class={`${icon} mr-2 text-lg`}></i> {label}
</a>
