html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ############################################################## */
/* ############################################################## */
/* ############################################################## */
/* ############################################################## */
/* ############################################################## */
/* ############################################################## */
/* ############################################################## */
/* ############################################################## */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Helvetica", sans-serif;
}
body,
#root {
  background: url("https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80")
    fixed;

  height: 100%;
  min-height: 100%;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.book {
  width: 720px;
  margin: 0 auto;
  height: 100%;
}

.content {
  background-image: url("./img/paper-bg.jpg");
  width: 100%;
  border: 10px solid #70411c;
  margin: 10px 0 0 0;
}

.book-header {
  padding: 25px 0 35px 0;
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.6rem;
}

.author {
  padding: 0 0 5px 0;
}

.book-name {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 2.4rem;
  padding: 10px 0 0 0;
}

.index {
  line-height: 35px;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
  text-align: center;
}

.chapter-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
}

.chapter-list-item {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #d39e00;
  margin: 0 0 10px 0;
  padding: 8px 0;
  border-radius: 15px;
  line-height: 1.9rem;
}

.chapter-content {
  display: flex;
  flex-direction: column;
  background-image: url("./img/paper-bg.jpg");
  padding: 10px;
  width: 100%;
  border: 10px solid #70411c;
  margin: 10px 0 0 0;
}

.chapter-page-title {
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.section-content {
  background-image: url("./img/paper-bg.jpg");
  padding: 10px;
  width: 100%;
  border: 10px solid #70411c;
  margin: 10px 0;
}

.section-page-title {
  padding: 20px 0;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.4;
}

.back-button {
  background-color: #e0a800;
  color: #000;
  border-color: #d39e00;
  margin-bottom: 20px;
  vertical-align: middle;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.8em;
  align-self: center;
  transition: all 0.3s;
}

.section-list {
  list-style-position: inside;
  padding-inline-start: 0;
}

.section-list-item {
  list-style-type: decimal;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: bold;
  margin: 8px 0;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 0 10px 10px;
  border-radius: 15px;
  border: 1px solid #d39e00;
}

.section-content-meta {
  display: flex;
  justify-content: space-between;
  color: #666;
  text-align: right;
}

.section-content-text {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.7rem;
}

.section-content-text p {
  padding: 5px 0;
}

.back-button:hover {
  opacity: 0.8;
  color: #000;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .book {
    width: 80%;
  }
}

@media only screen and (max-width: 640px) {
  .book {
    width: 90%;
  }
}

.privacy h1 {
  font-size: 20px;
  padding: 15px;
}

.privacy p {
  font-size: 14px;
  line-height: 20px;
  padding: 15px;
}
